<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Douglas Blumeyer</title>
</head>
<body>
<div class="container">
    <div class="title">
        <h1 class="leipziger-antiqua-bold">Douglas Blumeyer</h1>
    </div>

    <canvas></canvas>

    <div class="main-1">
        Riding Muni down a steep hill. This tiny triangular wedge edge of a platform we're passing is my last chance to
        hop off unless I want to walk all the way back up this hill (which is steep enough that I may not even be able
        to climb it). I take a shot at it but miss. My ankle snags on top while my torso gets towed under the train as
        it moves along. I get run over and die.
    </div>
    <div class="main-2">
        My sister's bedroom's bathroom is a bit odd in that it has a moat. It's like a foot wide, a couple inches deep,
        just standing water around the edges of the room.
    </div>
    <div class="main-3">
        I'm walking up to the public restrooms. One door has a huge line so naturally I go in the one with no line. The
        concierge inside clears her throat at me but I still don't take the hint; it's not until I after I've stubbed my
        toe at the urinals and start frantically searching for a place to take off my socks to assess whether I've
        broken the skin and need to get my toe amputated to stop the spread of piss diseases that I realize.... everyone
        in my way is female... I've gone into the women's restroom! No wonder it had the shorter line! Well, anyway, I'm
        not bleeding, but this is going to be one hell of a welt.
    </div>
    <p>
        sequebor, (sə ˈkwɛ bɚ) n. a person who has lived or will live in the same location as the speaker or person
        referred to, but immediately before or after in time; a time neighbor.
    </p>
</div>

<!--
/**
* @license
* MyFonts Webfont Build ID 3604151, 2018-07-02T17:35:06-0400
*
* The fonts listed in this notice are subject to the End User License
* Agreement(s) entered into by the website owner. All other parties are
* explicitly restricted from using the Licensed Webfonts(s).
*
* You may obtain a valid license at the URLs below.
*
* Webfont: LeipzigerAnt-Dem by profonts
* URL: https://www.myfonts.com/fonts/profonts/leipziger-antiqua/demi/
* Copyright: (URW)++,Copyright 2006 by (URW)++ Design &amp; Development
*
* Webfont: LeipzigerAnt-Reg by profonts
* URL: https://www.myfonts.com/fonts/profonts/leipziger-antiqua/regular/
* Copyright: Copyright 2006 ProFonts P. Rosenfeld &amp; J. Willrodt
*
* Webfont: LeipzigerAnt-Ita by profonts
* URL: https://www.myfonts.com/fonts/profonts/leipziger-antiqua/italic/
* Copyright: Copyright 2006 ProFonts P. Rosenfeld &amp; J. Willrodt
*
* Webfont: LeipzigerAntCapReg by profonts
* URL: https://www.myfonts.com/fonts/profonts/leipziger-antiqua/cap-reg/
* Copyright: Copyright 2006 ProFonts P. Rosenfeld &amp; J. Willrodt
*
*
* License: https://www.myfonts.com/viewlicense?type=web&buildid=3604151
* Licensed pageviews: 20,000
*
* © 2018 MyFonts Inc
*/

-->
</body>
</html>

