<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Douglas Blumeyer</title>
</head>
<body>

<div id="dunno">
    <div id="left">
        <canvas height="1200" width="400"></canvas>
        <div id="title">Douglas Blumeyer</div>
    </div>
    <div id="right">
        <div>@gmail.com</div>
        <div>San Francisco, CA</div>
        <div>+1.415.254.1073</div>

        <div>--</div>

        <div><a href="https://linkedin.com/in/douglasblumeyer" target="_blank">my LinkedIn</a></div>
        <div><a href="https://github.com/cmloegcmluin" target="_blank">my GitHub</a></div>

        <div><a href="https://houndstoothtopia.douglasblumeyer.com" target="_blank">Houndstoothtopia</a></div>
        <div><a href="https://houndstoothcraft.douglasblumeyer.com" target="_blank">Houndstoothcraft</a></div>

        <div><a href="http://geometrhythm.com" target="_blank">Geometrhythm</a></div>
        <div><a href="https://scalar-set-theory.douglasblumeyer.com" target="_blank">Scalar Set Theory</a></div>
        <div><a href="https://www.dropbox.com/s/kqd5emgc41b1ap4/Fun%20Musical%20Ideas%20-%20v1.0%20-%20July%202014.pdf?dl=0" target="_blank">Fun Musical Ideas</a></div>
        <div><a href="https://soundcloud.com/cmloegcmluin" target="_blank">my Soundcloud</a></div>

        <div><a href="https://cmloegcmluin.wordpress.com" target="_blank">my Wordpress</a></div>
        <div><a href="https://uncannly.douglasblumeyer.com" target="_blank">Uncannly</a></div>

        <div><a href="https://vimeo.com/douglasblumeyer" target="_blank">my Vimeo</a></div>

        <div><a href="https://rainbowbbles.douglasblumeyer.com" target="_blank">Rainbowbbles</a></div>
        <div><a href="https://drem.pt" target="_blank">Drempt</a></div>
    </div>
</div>

<!--
/**
* @license
* MyFonts Webfont Build ID 3604151, 2018-07-02T17:35:06-0400
*
* The fonts listed in this notice are subject to the End User License
* Agreement(s) entered into by the website owner. All other parties are
* explicitly restricted from using the Licensed Webfonts(s).
*
* You may obtain a valid license at the URLs below.
*
* Webfont: LeipzigerAnt-Dem by profonts
* URL: https://www.myfonts.com/fonts/profonts/leipziger-antiqua/demi/
* Copyright: (URW)++,Copyright 2006 by (URW)++ Design &amp; Development
*
* Webfont: LeipzigerAnt-Reg by profonts
* URL: https://www.myfonts.com/fonts/profonts/leipziger-antiqua/regular/
* Copyright: Copyright 2006 ProFonts P. Rosenfeld &amp; J. Willrodt
*
* Webfont: LeipzigerAnt-Ita by profonts
* URL: https://www.myfonts.com/fonts/profonts/leipziger-antiqua/italic/
* Copyright: Copyright 2006 ProFonts P. Rosenfeld &amp; J. Willrodt
*
* Webfont: LeipzigerAntCapReg by profonts
* URL: https://www.myfonts.com/fonts/profonts/leipziger-antiqua/cap-reg/
* Copyright: Copyright 2006 ProFonts P. Rosenfeld &amp; J. Willrodt
*
*
* License: https://www.myfonts.com/viewlicense?type=web&buildid=3604151
* Licensed pageviews: 20,000
*
* © 2018 MyFonts Inc
*/

-->
</body>
</html>

