$background-grey: #222; // 32 32 32
$section-hovered: #888; // 136 136 136
$hovered:         #ddd; // 221 221 221

$red-for-me:      #B52D0B;
$orange-for-code: #AF5A05; //derived by a 50/50 blend bt background-grey and CC6600
$green-for-vr:    #2D710B; //derived by a 50/50 blend bt background-grey and 339900
$blue-for-music:  #055ADA; //derived by a 50/50 blend bt background-grey and 0066FF
$pink-for-film:   #DA30AF; //derived by a 50/50 blend bt background-grey and FF33CC
$yellow-for-word: #DAAF05; //derived by a 50/50 blend bt background-grey and FFCC00

@mixin dimmable_color($color) {
  background-color: $color;
  &.not-hovered:not(.section-hovered) {
    background-color: mix($background-grey, $color, $inv-phi-percent);
  }
}

@mixin dimmable_main_color($color) {
  color: $color;
  &.not-hovered:not(.section-hovered) {
    color: mix($background-grey, $color, $inv-phi-percent);
  }
}

@mixin unselectable_section_colors($color) {
  @include dimmable_main_color($color);
  @include dimmable_color(
                  mix($background-grey, $color, $inv-phi-percent)
  );
}

@mixin hover_color {
  &:hover {
    g {
      fill: $hovered !important;
    }

    a {
      color: $hovered !important;
    }
  }

  &.section-hovered {
    color: $section-hovered;

    g {
      fill: $section-hovered;
    }

    a {
      color: $section-hovered;
    }
  }
}

@mixin hover_color_drempt {
  &:hover {
    .dt-text {
      background-color: $hovered !important;
    }
  }

  &.section-hovered {
    .dt-text {
      background-color: $section-hovered;
    }
  }
}
