body {
  margin: 0;
}

#dunno {
  display: flex
}

#right {
  padding: 20px
}

//.container {
//  display: grid;
//  grid-template-columns: 200px auto 300px;
//  grid-template-rows: 100px 150px 150px 150px 50px auto;
//}
//
//.title-column {
//  grid-column-start: 1;
//  grid-column-end: 1;
//}
//
//.main-column {
//  grid-column-start: 2;
//  grid-column-end: 2;
//}
//
//.supplement-column {
//  grid-column-start: 3;
//  grid-column-end: 3;
//}
//
//.row-1 {
//  grid-row-start: 1;
//  grid-row-end: 1;
//}
//
//.row-2 {
//  grid-row-start: 2;
//  grid-row-end: 2;
//}
//
//.row-3 {
//  grid-row-start: 3;
//  grid-row-end: 3;
//}
//
